@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    transition: 0.1s;
}

body{
    height: 100vh;
    background: linear-gradient(rgba(245, 245, 245, 1.00), rgba(5, 7, 12, 0.30)),
    url("../media/img/perros-jugando.jpg");
    background-size: cover;
    background-position: center;
}

.logo img{
    position: relative !important;
    top: 5px !important;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover{
    color: rgb(10, 204, 139);
}

/* Header */

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: rgb(10, 204, 139);
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 255, 0.25);
    background-color: lavender;
    
}

form label {
    display: block;
    margin: 0.5rem 0;
    margin-bottom: 10px;   
}

form input, form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background: black;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background: #0acc8b;
}
.location{
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 255, 0.25);
    background-color: lavender;
    line-height: 29px;
}

.gatitos{
    width: 200px;
    height: 200px;
}
/* Menú Dropdown */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 290px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Cuerpo de página */

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}


#hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Responsive */

@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    section#hero {
    grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    
    section#hero {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    section#hero {
    grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 320px){
    section#hero {
    grid-template-columns: repeat(1, 1fr);
    }
    #hero h2 {
        font-size: 1.5rem;
      }
      #hero li {
        font-size: 0.8rem; 
      }
}
