<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="shortcut icon" href="/Trabajo-CodoACodo/assets/media/icons/perro.png" type="image/x-icon">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


    <title>Veterinaria Los Lobos</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="../index.html"><img src="../assets/media/icons/perro.png" alt="Logo de empresa"></a></div>
            <ul class="links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
            <li><a href="./tienda.html">Tienda</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            </ul>
            <a href="./contacto.html" class="action_btn">Hace tu pedido</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./nosotros.html">Nosotros</a></li>
        <li><a href="./tienda.html">Tienda</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
        <li><a href="./contacto.html" class="action_btn">Hace tu pedido</a></li>
        </div>
    </header>


   <main>
    <section id="hero">
        <div class="comet-form" id="app">

            <article class="caja-form">
                <section class="comentarios">

                    <form @submit.prevent="agregarComentario" id="formulario-comentario">
                        <h2>Formulario de contacto</h2>
                        <label for="nombre"></label>
                        <input type="text" id="nombre" name="nombre" v-model="nombre" placeholder="Ingrese su nombre" required>

                        <label for="email"></label>
                        <input type="email" id="email" name="email" v-model="email" placeholder="Ingrese su Email" required>

                        <label for="comentario">Comentario:</label>
                        <textarea id="comentario" name="comentario" rows="4" v-model="comentarioTexto" required></textarea>

                        <label for="suscripcion">Acepto la Cláusula de Contacto</label>
                        <input type="checkbox" id="suscripcion" name="suscripcion" v-model="suscripcion">

                        <button type="submit">Agregar Comentario</button>
                    </form>

                   
                </section>
            </article>

            <article class="caja-comentarios">
                <section class="comentarios">
                    <h2>Comentarios</h2>
                    <!-- <div v-for="(comentario, index) in comentarios" :key="index" class="comentario">
                        <strong>{{ comentario.nombre }}:</strong><br>
                        <strong>{{ comentario.email }}</strong><br>
                        {{ comentario.comentario }}
                    </div> -->
                    <!-- Dentro del bucle v-for que muestra los comentarios -->
                    <div v-for="(comentario, index) in comentarios" :key="index" class="comentario">
                        <strong>{{ comentario.nombre }}:</strong><br>
                        <strong>{{ comentario.email }}</strong><br>
                        {{ comentario.comentario }}
                        
                        <br>
                        <!-- Botones de editar y eliminar -->
                        <button class="btn-coment" @click="editarComentario(index)">Editar</button>
                        <button class="btn-coment"  @click="eliminarComentario(index)">Eliminar</button>
                    </div>

                </section>
                
            </article>

        </div>


        <article class="location">
            <h2>Nuestra ubicación</h2>
            <p>
                Estamos ubicados en Buenos Aires, Argentina. Recibimos consultas de todo el territorio nacional.
                Contáctanos en nuestro horario laboral <br>
                <ul>
                    <li>Lunes, jueves y viernes de 8:00h a 16:00h</li>
                    <li>Martes y miércoles de 8:00h a 19:00h.</li>
                </ul>                
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26261.89233581146!2d-58.58562138916019!3d-34.63609749999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9b45dededbd%3A0xcc2a751c9e9ca5f6!2sCLINICA%20VETERINARIA%20LANIN!5e0!3m2!1ses-419!2ses!4v1696498339888!5m2!1ses-419!2ses" width="100%" height="350"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
    </section>
   </main>


   <script>
    const app = new Vue({
        el: '#app',
        data: {
            nombre: '',
            email: '',
            comentarioTexto: '',
            suscripcion: false,
            comentarios: []
        },
        methods: {
            agregarComentario: function () {
                if (!this.suscripcion) {
                    alert("Debe aceptar la Cláusula de Contacto para enviar el comentario.");
                    return;
                }

                this.comentarios.push({
                    nombre: this.nombre,
                    email: this.email,
                    comentario: this.comentarioTexto
                });

                this.nombre = '';
                this.email = '';
                this.comentarioTexto = '';
                this.suscripcion = false;
            },

            editarComentario: function (index) {
                const comentario = this.comentarios[index];
                if (comentario.idUsuario === this.usuarioActual) {
                    const nuevoTexto = prompt("Edita el comentario:", comentario.comentario);
                    if (nuevoTexto !== null) {
                        this.comentarios[index].comentario = nuevoTexto;
                    }
                } else {
                    alert("No puedes editar este comentario, no eres el propietario.");
                }
            },

            eliminarComentario: function (index) {
                const comentario = this.comentarios[index];
                if (comentario.idUsuario === this.usuarioActual) {
                    const confirmacion = confirm("¿Estás seguro de que quieres eliminar este comentario?");
                    if (confirmacion) {
                        this.comentarios.splice(index, 1);
                    }
                } else {
                    alert("No puedes eliminar este comentario, no eres el propietario.");
                }
            }
        }
    });
    </script>






   
   <script src="../assets/js/script.js"></script>

</body>

<!-- 

<script>
    const app = new Vue({
    el: '#app',
    data: {
        nombre: '',
        email: '',
        comentarioTexto: '',
        suscripcion: false,
        comentarios: []
    },
    methods: {
        agregarComentario: function () {
            if (!this.suscripcion) {
                alert("Debe aceptar la Cláusula de Contacto para enviar el comentario.");
                return;
            }

            // Agregar el nuevo comentario al array de comentarios
            this.comentarios.push({
                nombre: this.nombre,
                email: this.email,
                comentario: this.comentarioTexto
            });

            // Limpiar el formulario
            this.nombre = '';
            this.email = '';
            this.comentarioTexto = '';
            this.suscripcion = false;
        },

        editarComentario: function (index) {
            // lógica para editar el comentario
            const nuevoTexto = prompt("Edita el comentario:", this.comentarios[index].comentario);
            if (nuevoTexto !== null) {
                this.comentarios[index].comentario = nuevoTexto;
            }
        },

        eliminarComentario: function (index) {
            // lógica para eliminar el comentario
            const confirmacion = confirm("¿Estás seguro de que quieres eliminar este comentario?");
            if (confirmacion) {
                this.comentarios.splice(index, 1); // Elimina el comentario del array
            }
        }
    }
});

</script>  -->

</html>










