{% extends 'base_template.html' %}
{% load static %}
{% block contenido %}

    <title>Nosotros</title>
</head>
<body>
   <header>
    <div class="navbar">
        <div class="logo"><a href="/"><img src="{% static './media/icons/perro.png' %}" alt="Logo de empresa"></a></div>
        <ul class="links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'tienda' %}">Tienda</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
        <a href="{% url 'contacto' %}" class="action_btn">Hace tu pedido</a>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="dropdown_menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
        <li><a href="{% url 'tienda' %}">Tienda</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
    <li><a href="{% url 'contacto' %}" class="action_btn">Hace tu pedido</a></li>
    </div>
   </header>


   <main>
    <section id="hero">
        <article>
            <h2 >Nuestros Servicios</h2>
            <p>Estamos comprometidos con el bienestar y la salud de tus mascotas.
            Ofrecemos una amplia gama de servicios de atención médica y quirúrgica de alta calidad
            para animales domésticos y de granja. Nuestros servicios incluyen:</p>
            <br>
            <ul>
                <li>. Consulta Médica</li>
                <li>. Vacunaciones</li>
                <li>. Cirugía</li>
                <li>. Salud Dental</li>
                <li>. Laboratorio</li>
                <li>. Hospitalización</li>
                <li>. Emergencias</li>
                <li>. Cuidado Preventivo</li>
                <li>. Eutanasia Humanitaria</li>
            </ul>        
        </article>
        
        <article class="api-card">
            <h2>Imagenes de nuestros clientes</h2>
            <img class="gatitos" alt="foto gatito aleatorio">
            <button id="cambiarFoto">Cambiar foto</button>
        </article>
    </section>
   </main>

   <script src="{% static './js/script.js' %}"></script>

{% endblock %}